.container {
    margin-top:4rem;
    overflow-x:hidden;
}

.pagePart {
    background-color: beige;
    width: 99.1vw;
    height: 43rem;
}

.welcomeGrid {
    display: grid;
    grid-template-columns: auto auto;
}

.pagePartSecond {
    background-color: #C4A484;
    width: 100%;
    height: 43rem;
}

.headerStyle{
    font-size:2.5rem;
    font-weight:700;
    margin-left:2rem;
    display:inline-block;
    margin-top:5rem;
}

.header {
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 2rem;
    display: inline-block;
    margin-top:1rem;
}

.welcomeTextField {
    width:80%;
    color: gray;
    font-weight:700;
    margin-left:2rem;
}

.pianoImage{
    width:40rem;
    height:20rem;
    margin-right:5rem;
}

.contactForm {
    display: grid;
    grid-template-columns: auto auto;
    width: 60rem;
    height: 35rem;
    background-color: green;
    margin-left: 30vw;
    align-content: center;
    justify-content: center;
}
.contactForm input{
    width:15rem;
    height:2rem;
    border-radius:5px;
    border:solid 1px black;
}

.contactForm label{
    float:right;
    font-size:1.5rem;
    font-weight:600;
}

.centerInput{
}